@charset "utf-8";
/* CSS Document */
html, body {
    height: 100%;
}

body {
	background-image: url("header-graduation.jpg");
	height: 100%; 

  /* Center and scale the image nicely */
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.register{
	padding-left: 30px;
	padding-top: 60px;
}

