@charset "utf-8";
/* CSS Document */
html, body {
    height: 100%;
}

body {
	
	padding: 25px;
	 background: url('bb.png');
	 background-repeat: no-repeat;
	 background-size: 370px 800px;
}

.login{
	padding-left: 5px;
	padding-top: 250px;
}

.centered {
  position: absolute;
  top: 47%;
  left: 60%;
  transform: translate(-50%, -50%);
}


.bg{
	padding-top: 330px;
}

.btn-custom {
	border-radius: 24px;
	background-color: transparent;
	border-width: 3px;
	border-color: #fff55a;
}


.btn-custom:hover{
	background-color: #1f4681;
	border-color: #fff55a;
}

.btn-custom1{
	border-radius: 24px;

}

.register{
	padding-left: -1px;
	padding-top: 40px;
}

.bg1{
	padding-top: 330px;
}

.btn-custom2{
	border-radius: 24px;
}